<div class="mt-[60px]"> <!-- Match this with your navbar height -->
  <p-carousel
    [value]="images"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="4000"
    [showIndicators]="true"
    [showNavigators]="true"
    class="w-full max-w-7xl mx-auto"
  >
    <ng-template pTemplate="item" let-image>
      <div class="relative w-full h-[calc(100vh-80px)]">
        <img
          [src]="image.url"
          [alt]="image.title"
          class="w-full h-full object-cover rounded-lg shadow-md"
        />
        <div
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/80 via-black/30 to-transparent text-white p-6 text-2xl font-semibold"
        >
          {{ image.title }}
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
